.info {
  width: 100%;
  height: 380px;
  background: var(--light-black);
}
.info .wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.info .wrapper .redRectangle {
  position: absolute;
  top: 10%;
  left: 0%;
}
.info .wrapper .info-img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
