nav{
    max-width: 1024px ;
    width: 1024px;
    position: fixed;
    top: 24px;
    background: rgb(0, 0, 0, 0.5);
    border-radius: (0px 0px 10px 10px);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 32px;
    z-index: 300;
    
}
nav .home{
    font-size: 16px;
    font-weight: bolder;
    color: #ffffff;
}

nav .home span{
    color: var(--red-light);
}
nav .details-section{
    width: 450px;
    display: flex;
    justify-content: space-between;
   
}
nav .details-section a{
 color: #ffffff;
 font-size: 16px;
 font-weight: 800;
}