.blog-section{
    width: 100%;
    background:var( --red-pink);
    padding: 80px 0px;
}

.blog-section .wrapper .blog-heading{
    font-size: 40px;
    font-weight: 800;
    position: relative;
    color: #ffffff;
}
.blog-section .wrapper .blog-heading::after{
    content: "";
    position: absolute;
    width: 60px;
    height: 4px;
    background: var(--light-yellow);
    left: 0px;
    bottom: 1%;
}
.blog-section .wrapper .all-blogs{
    padding: 30px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
   
    
}
.blog-section .wrapper .blog-card {
    border-radius: 10px;
    background: #ffffff;
    position: relative;
    margin-bottom: .6rem;
    overflow: hidden;
    transition: all 400ms ease;
    
}
.blog-section .wrapper .blog-card:hover{
    transform: scale(1.04);
}
.blog-section .wrapper .blog-card img{
    width: 100%;
    height: 160px;
    border-radius: 10px;
    object-fit: cover;
}
/* tag Style */
.blog-section .wrapper .blog-card .tag{
  padding: 2px 16px;
  font-size: 13px;
  font-weight: 700;
  background: #ffffff;
  border-radius: 10px;
  position: absolute;
  top: 3%;
  right: 2%;
  z-index: 1;
}
.blog-section .wrapper .blog-card .card-details{
    padding: 16px 24px;
    font-size: 18px;
    font-weight: 600;
    
}
.blog-section .wrapper .all-posts{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.blog-section .wrapper .all-posts p{
    padding: 4px 32px;
    border-radius: 10px;
    background: #ffffff;
    font-size: 16px;
    font-weight: 700;
}
@media (max-width:1040px){
    .blog-section .wrapper .all-blogs{
        /* padding: 30px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap; */
        padding: 30px 0px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        
    }
  }
  @media (max-width:720px){
    .blog-section{
        padding:50PX 0PX ;
    }
    .blog-section .wrapper .all-blogs{
        grid-template-columns:  1fr;
    }
    .blog-section .wrapper .blog-heading {
        font-size: 24px;
    }
   
  }
